<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Can We beat Vegas?</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/logos/favicon.png">
    <!-- Bootstrap core CSS -->
    <!-- <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}">

    <!-- Custom fonts for this template -->
    <!-- <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <!-- <link href="../css/agency.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/agency.css') }}">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Can We beat Vegas?</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Visualizations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">An NFL Betting Model</div>
                <div class="intro-heading text-uppercase">Place Your Bets!</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Over or Under</a>
            </div>
        </div>
    </header>

    <!-- Services -->
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Show me the Money!</h2>
                    <h3 class="section-subheading text-muted">More data more problems.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-money-bill fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Why?</h4>
                    <p class="text-muted">Develop a sequential model that can recommend to bettors whether teams are
                        likely to go over or under the set line.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analytics</h4>
                    <p class="text-muted">Analyze historical NFL data to discover trends to impove upon the regression
                        model.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-hand-holding-usd fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Profit</h4>
                    <p class="text-muted">This is our adventure to create a profit. If you like making money, follow
                        along!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light page-section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Visualizations</h2>
                    <h3 class="section-subheading text-muted">Click on icons below to expand graphs.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="static/img/portfolio/team_nfl.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Teams</h4>
                        <p class="text-muted">NFL Team Comparision</p>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="static/img/portfolio/brain.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Machine Learning</h4>
                        <p class="text-muted">trained on data from 2015</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="page-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Betting Model</h2>
                    <h3 class="section-subheading text-muted">Can we bet Vegas Odds for the Over/Under for NFL games.
                    </h3>
                </div>
            </div>
            <div class="odd-shark row">
                <div class = "col-lg-12 text-center">
                    <img class="img-fluid d-block mx-auto" src="static/img/logos/odds_photo.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-muted">
                        <label>Home Team</label>
                        <select id="Home_team"></select>
                        <label>Away Team</label>
                        <select id="Away_team"></select>
                        <label>Predicted Total</label>
                        <input type="number" id="BookTotal" />
                        <label id="vince"></label>
                        <button class="btn btn-primary btn-xl text-uppercase" onclick="simplerun()">Click Me</button>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">SuperBowl 54 Predictions</h2>
                    <h3 class="section-subheading text-muted">Want to make some money?</h3>
                </div>
            </div>
    </section>

    <!-- Team -->
    <section class="bg-light page-section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/tommy.jpg" alt="">
                        <h4>Tommy Ghormley</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://linkedin.com/in/thomasghormley" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/tghorms" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/vince.jpg" alt="">
                        <h4>Vince Bruno</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/vince-bruno-cpa-b3646365/" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/vincejbruno" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/byford.jpg" alt="">
                        <h4>Byford Boyd</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/byford-boyd-97792827/" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/Phiremouse" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/david.jpg" alt="">
                        <h4>David Aradom</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="http://www.linkedin.com/in/david-aradom-39a961183" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/DavidAradom" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Our team is not responsible for any amount of denomination loss using
                        our betting
                        model.
                        We will take resposibility for all positive winnings.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <span class="copyright">Copyright &copy; Final Project 2020</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Team stats for the 2019 regular season</h2>
                                <p class="item-intro text-muted">Click on a team's win percentage to filter team stats.
                                </p>
                                <div class='tableauPlaceholder' id='viz1578613625683' style='position: relative'>
                                    <noscript>
                                        <a href='#'><img alt=''
                                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Y7&#47;Y79MS4Z3K&#47;1_rss.png'
                                                style='border: none' /></a>
                                    </noscript>
                                    <object class='tableauViz' style='display:none;'>
                                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                        <param name='embed_code_version' value='3' />
                                        <param name='path' value='shared&#47;Y79MS4Z3K' />
                                        <param name='toolbar' value='yes' />
                                        <param name='static_image'
                                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Y7&#47;Y79MS4Z3K&#47;1.png' />
                                        <param name='animate_transition' value='yes' />
                                        <param name='display_static_image' value='yes' />
                                        <param name='display_spinner' value='yes' />
                                        <param name='display_overlay' value='yes' />
                                        <param name='display_count' value='yes' />
                                        <param name='filter' value='publish=yes' />
                                    </object>
                                </div>
                                <script type='text/javascript'>
                                    var divElement = document.getElementById('viz1578613625683');
                                    var vizElement = divElement.getElementsByTagName('object')[0];
                                    if (divElement.offsetWidth > 800) {
                                        vizElement.style.minWidth = '550px';
                                        vizElement.style.maxWidth = '750px';
                                        vizElement.style.width = '100%';
                                        vizElement.style.minHeight = '487px';
                                        vizElement.style.maxHeight = '987px';
                                        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                                    }
                                    else if (divElement.offsetWidth > 500) {
                                        vizElement.style.minWidth = '550px';
                                        vizElement.style.maxWidth = '750px';
                                        vizElement.style.width = '100%';
                                        vizElement.style.minHeight = '487px';
                                        vizElement.style.maxHeight = '987px';
                                        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                                    }
                                    else {
                                        vizElement.style.width = '100%';
                                        vizElement.style.height = '727px';
                                    }
                                    var scriptElement = document.createElement('script');
                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                                </script>
                                <!-- <p> INSERT TEAM GRAPH</p> -->
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Vegas Odds</h2>
                                <p class="item-intro text-muted">Opening odds according to Odd Shark.</p>
                                <a href="https://www.oddsshark.com/nfl/odds" target="_blank">Odd Shark</a>
                                <img class="img-fluid d-block mx-auto" src="static/img/logos/odds_photo.jpg" alt="">
                                <img class="img-fluid d-block mx-auto" src="static/img/logos/nfl-divisional.jpg" alt="">
                                <!-- <p>INSERT VEGAS GRAPH</p> -->
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Machine Learning Model</h2>
                                <p class="item-intro text-muted">Graph of the model loss.
                                    Loss is the penalty of a bad prediction.
                                    It is a number indicating how bad the models' prediction was in a single example.
                                </p>
                                <img class="img-fluid d-block mx-auto" src="static/img/logos/machine-learning-graph.png"
                                    alt="">
                                <!-- <p>INSERT GRAPH 3</p> -->
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="../vendor/jquery/jquery.min.js"></script> -->
    <script type="text/javascript" src="/static/vendor/jquery/jquery.js"></script>
    <!-- <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>


    <!-- Plugin JavaScript -->
    <!-- <script src="../vendor/jquery-easing/jquery.easing.min.js"></script> -->
    <script type="text/javascript" src="/static/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Contact form JavaScript -->
    <!-- <script src="../js/jqBootstrapValidation.js"></script> -->
    <script type="text/javascript" src="/static/js/jqBootstrapValidation.js"></script>
    <!-- <script src="../js/contact_me.js"></script> -->
    <script type="text/javascript" src="/static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <!-- <script src="../js/agency.min.js"></script> -->
    <script type="text/javascript" src="/static/js/agency.js"></script>

</body>

</html>